.wrapper {
    background-color: var(--dark-black);
    height: auto;
    min-height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.pod-items{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:1rem;
}