*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  border: 0 solid #e5e7eb;
}

:root {
  --dark-black: #09090B; 
  --light-black: #1a1a20;
  --green: #10B981;
  --green-alpha: rgba(6, 95, 65, 0.3);
  --white: #ffffff;
  --grey-white:#a1a1aa;
  --grey-white-alpha:rgba(161, 161, 170, 0.445);
  --border: rgba(229, 231, 235, 0.123);
  --background-zinc: #27272a80;
  --background-zinc-alpha: rgb(39, 39, 42);
}

h1,h3 {
  color: var(--white);
  font-weight: 500;
}

h2 {
  color: var(--white);
}


.row {
  display: flex;
  
}

.column {
  display: flex;
  flex-direction: column;
} 

.border {
  color: rgb(63 63 70);
  opacity: .3;
}